:root {
  --title-color: #ffffff;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --accent-bg-color: #f5f4fa;
  --button-color: #2196f3;
  --hover-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

*,
p,
h1,
h2,
h3,
h4,
h6 {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0, auto;
  /* background-color: violet; */
}

.section {
  padding-top: 94px;
}

/* -----------HEADER------------- */

.border {
  border-bottom: 1px solid #ececec;
}

.cont-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;

  margin: 0, auto;
  justify-content: space-between;
}

.navigation {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 93px;
}

.nav-item:not(:first-child) {
  padding-left: 50px;
}

.contacts-hb {
  display: flex;
  margin: 0, 215px, 0, auto;
  padding: 0;
}

.contacts-header-item {
  width: 122px;
  height: 16px;
}

.contacts-header-item:not(:first-child) {
  padding-left: 50px;
}

.contacts-header {
  width: 122px;
  height: 16px;
}

.header-link {
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;
  font-family: inherit;
  color: var(--main-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--hover-color);
}

.contacts,
.contacts-header {
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;

  color: var(--second-text-color);
}

.contacts-header:hover,
.contacts-header:focus {
  color: var(--button-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-bg-color);
}
.visually-hidden {
  position: absolute;
  width: 1 px;
  height: 1 px;
  margin: -1 px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* -------------HERO-------------- */
.hero {
  width: 1200px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  background: var(--secondary-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin: auto;
  width: 696px;
}

.hero-btn {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--title-color);

  background-color: var(--button-color);

  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  border-radius: 4px;
  margin-top: 50px;
}
/* -----------BENEFITS------------ */
.benefits-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.benefits-list {
  display: flex;
}

.benefits-item {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 101px;
}

/* ------------SPECIALS------------ */

.specials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.specials-item:not(:last-child) {
  padding-right: 30px;
}

.specials-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.specials-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--second-text-color);
}

/* ---------WORKS------------ */
.works-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 50px;

  color: var(--main-text-color);
}
/* ----------OUR TEAM--------- */

.team-container-list {
  display: flexbox;
  justify-content: center;
  margin-top: 50px;
}

.team-names-container {
  background-color: var(--accent-bg-color);
  width: 270px;
  height: 368px;
  display: inline-block;
}

.team-names-container:not(:last-child) {
  padding-right: 30px;
}

.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  padding-top: 94px;
}

.name-cont {
  justify-content: center;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.position {
  font-size: 16px;
  line-height: 1.18;
  color: var(--second-text-color);
}

/* ----------FOOTER------------ */

.footer {
  width: 1200px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 94px;
  background-color: var(--secondary-bg-color);
}

.adress-f-list {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.f-contacts {
  display: flex;
  /* color: var(--second-text-color); */
}
.f-contacts:not(:last-child) {
  padding-bottom: 9px;
}

.footer-address {
  display: flex;
  font-style: normal;
  line-height: 1.71;
  padding-top: 9px;

  color: var(--title-color);
}

.no-italics {
  font-style: normal;
}

/* ----------PORTFOLIO------------ */

.pf-btn {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--title-color) position absolute;
  width: 128px;
  height: 38px;
  left: 576px;
  top: 80px;

  background: var(--accent-bg-color);
  border-radius: 4px;
  border: 0;
}
.pf-btn:focus,
.pf-btn:hover {
  width: 128px;
  line-height: 1.87;
  left: 576px;
  top: 80px;

  font-style: normal;
  font-weight: 1.62;
  text-align: center;

  color: var(--title-color);
  background-color: var(--button-color);
  outline: none;
}

.logo-blue {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 19;

  color: var(--hover-color);
}

.logo-black {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 19;

  color: var(--main-text-color);
}

.logo-white {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 19;

  color: var(--title-color);
}
.ptf-link {
  color: var(--main-text-color);
}

/* ------------BLOKS------------ */

.pf-btn-list {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 50px;

  /* background-color: yellow; */
}

.pf-btn-item:not(:first-child) {
  margin-left: 8px;
}

.suggestions-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.suggestions-item {
  width: 370px;
  height: 404px;
}

.suggestions-item:not(:nth-child(3n + 1)) {
  margin-left: 30px;
  margin-bottom: 30px;
}
